@import './fonts/custom-fonts.css';

.reveal {
    font-family: Raleway, Verdana, sans-serif;
    font-size: 30px;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #383d3d;
    font-family: Karla, Verdana, sans-serif;
    line-height: 0.9em;
    letter-spacing: 0.02em;
    text-transform: none;
    text-shadow: none;
}


/******************************************************************************/
.reveal img.no-border {
    border: none;
    box-shadow: none;
}

.reveal p.left {
    text-align: left;
}

.reveal ul {
    list-style: square;
}

.reveal ul.discre {
    margin: 0;
}

.reveal ul.discret li {
    margin: 0;
    list-style: none;
}

.reveal pre.query {
    cursor: pointer;
}
.reveal pre.full-size {
    width: 100%;
    height: 100%;
}

.reveal pre.full-size code {
    max-height: none;
}